

<div class="footer-newsletter">
    <div class="common-content-area">
        <h2><span>Newsletter</span></h2>
        <h3 style="text-align: center; font-size: 30px; font-weight: 300;">Welcome to the world of Rollbliss</h3>
        <p class="sep"><img class="lazyload hs-lazyload hs-id-a141fe91" data-src="{{ 'black-sep.png' | asset_url }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/></p>
        <div class="container">
            <div class="d-flex justify-content-between">
                <div class="newsletter">
                    <figure><img class="lazyload hs-lazyload hs-id-08f2d470" data-src="{{ 'newsletter-email-icon.png' | asset_url }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/></figure>
                    <h3>Newsletter</h3>
                    <p style="font-family: 'Lexend-Regular' !important;">Join us as we celebrate the intersection of style and technique in the world of jiu-jitsu. Get ready to elevate your game and embrace your uniqueness with RollBliss.</p>
                    <p><a href="/pages/sign-up-and-receive-10-off-your-next-purchase">Sign Up</a></p>
                </div>
                <div class="text-us">
                    <figure><img class="lazyload hs-lazyload hs-id-470b837b" data-src="{{ 'newsletter-mobile-icon.png' | asset_url }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/></figure>
                    <h3>Want Dibs on our next drop?</h3>
                    <p style="font-family: 'Lexend-Regular' !important;"> Get up to 24 hour early access <br />By texting, you agree to receive text messages from our company for any upcoming drops, future new releases or shock drops.</p>
                    <p><a href="/pages/sign-up">Text me with pre-drop alerts</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "newsletter-custom",
    "settings": [],
    "presets":[
      {
      "name":"newsletter-custom",
        "category":"custom"
      }
    ]
  }
{% endschema %}

<script async src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=SrUm9S" type="text/javascript"></script>