  .main-container{
 display:flex;
 justify-content:center;
  margin: 10px auto;
  }
.text-f{
  display:flex;
  justify-content:center;
}
/*   #notify-button {
  background-color: white;
  color: black;
  padding: 10px 36px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
} */
  .popup {
/*   display: none; */
/*   position: fixed;
  z-index: 1;
  left: 0;
  top: 0; */
  width: 100%; 
  height: 100%;
}

.popup-content {
/*   display: none; */
  background-color: white;
  margin: 2% auto;
  padding: 10px;
  width: 100%;
  position: relative;
  border-radius: 4px;
}

.popup-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}

.popup-form label {
  display: block;
  margin-bottom: 10px;
}

.popup-form input[type="email"] {
  width: 30%;
  padding: 10px;
  margin-bottom: -18px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.select{
  display:flex;
  justify-content:center;
  gap:1rem;
}
.select select{
  
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
}

.popup-form input[type="submit"] {
  background-color:black;
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
  .popup-form input[type="submit"]:hover {
  background-color:White;
  color: black;
  border: 1px solid black;
}
.fields{
  display:flex;
  justify-content:center;
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  color: red;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
 @media only screen and (max-width:1250px){
   .popup-form input[type="email"] {
  width: 45%;
   }
 }
   @media only screen and (max-width:450px){
     .popup-form input[type="submit"]{
       padding: 9px 10px;
     }
      .popup-form input[type="submit"]:hover{
       padding: 7px 10px;
     }
     .popup {
       width 100% !important;
     }
   }